* {
    margin: 0;
    /* padding: 0; */
  }
  /* body{
    background-image: url(../img/Rectangle6.png);   
  } */
.article-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 10;
  }

  .contenedorLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 700px;
    max-width: 100%;
    padding-bottom: 10px;
  
  }
  .figure-login{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .fondo-Login1{
    /* aqui none */
    width: 200px;
    height: 180px;
    display: block;
  }
  /* css para title login*/
  .figure-title-login{
    display: flex;
    justify-content: center;
    margin-top:10px;
  }
  
  .fondoAnimalPet{
    width: 200px;
    height: 110px;
  
  }
  .frmLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
  }
  .form-login-inputs{
    position: inline;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  .figure-google {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .logoGmail{
    width:30px;
    height:30px;
  }
  
  .logoFacebook {
    width: 40px;
    height: 40px;
    /* padding: 0px; */
  }
  
  
  
  .txt {
    display: flex;
    justify-content: center;
    color: #faf8f8;
  }
  .a-login-signup {
    text-decoration: none;
  }
  @media (min-width: 1280px) and (max-width: 1599px) {
    .article-login{
        display: flex;
        flex-direction: row;
        min-height: 100vh;
    }
      .contenedorLogin{ 
        width: 100%;
        margin-left: -120px;
    }
    .figure-login{
      margin: 100px;
    }
    .fondo-Login1 {
      width: 500px;
      height: 350px;
      display: block;
    }
    .fondoAnimalPet {
      width: 210px;
      height: 160px;
      padding: 10px;
    }
      .frmLogin {
        margin-top: 20px;
    }
   
    
      .txt, .a-login-signup{
        font-size: 20px;
        line-height: 25px;
        margin-top: 15px;
    }
    .logoGmail {
      width: 30px;
      height: 30px;
      /* padding: 20px; */
    }
    .logoFacebook {
        width: 40px;
        height: 35px;
        /* padding: 0px; */
      }
  }